.game {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	margin-top: 60px;
	background: url('../image/images.jpeg') 0 0/100% no-repeat;
	background-color: rgb(231, 212, 35);
}

	.game__start {
	}
	[class*='game__'] {
		background-color: aqua;
		visibility: hidden;
		
	}
	.game__start {
		color: white;
		border: 3px solid black;
		text-transform: uppercase;
		width: 90px;
		height: 50px;
		padding: 15px;
		border-radius: 12px;
		background-color: darkblue;
		text-align: center;
		visibility: visible;
		}

	.game__block1 {
		margin-left: 30px;
		width: 30px;
		height: 200px;
	}
	.game__block2 {
		margin-left: 30px;
		width: 400px;
		height: 30px;
	}
	.game__block5 {
		margin-left: 400px;
		width: 30px;
		height: 200px;
	}
	.game__block4 {
		margin-left: 400px;
		width: 200px;
		height: 30px;
	}
	.game__block6 {
		margin-left: 570px;
		width: 30px;
		height: 200px;
		margin-top: -200px;
	}
	.game__block7 {
		margin-left: 570px;
		width: 200px;
		height: 30px;
		margin-top: -200px;
	}
	
	.game__block8 {
		margin-left: 740px;
		width: 30px;
		height: 300px;
		margin-top: -330px;
	}
	.game__block9 {
		margin-left: 740px;
		width: 60px;
		height: 60px;
		margin-top: -310px;
		
	}
	.game__block10 {
		background: url('../image/b13b81d79fe91e35008feeaf4c5b04d7.jpg') 0px 0/100% auto no-repeat;
		width: 800px;
		height: 600px;
		background-size: cover;}
		

	.game__start:hover + div,
	.game__block1:hover {
		visibility: visible;
	}

	.game__block1:hover + div,
	.game__block2:hover {
		visibility: visible;
	}
	.game__block2:hover + div,
	.game__block3:hover {
		visibility: visible;
	}
	.game__block3:hover + div,
	.game__block4:hover {
		visibility: visible;
	}
	.game__block4:hover + div,
	.game__block5:hover {
		visibility: visible;
	}
	.game__block5:hover + div,
	.game__block6:hover {
		visibility: visible;
		
	}
	.game__block6:hover + div,
	.game__block7:hover {
		visibility: visible;
	}
	
	.game__block7:hover + div,
	.game__block8:hover {
		visibility: visible;
	}
	.game__block8:hover + div,
	.game__block9:hover {
		visibility: visible;
	}
	
	.game__block9:hover + div,
	.game__block10:hover {
		
		visibility: visible;
	}
	
	
	
